
doctype html
html
  head
    title Hoteles
    meta(charset='UTF-8')
    link(rel='stylesheet',type="text/css", href='css/main.css')
  body
    main.hotel-results
      header.main-header
        h1 almundo.com
        nav
          button Ingresar
          a(href='') club almundo 
          a(href='') sucursales 
          a(href='') llamanos 
          a(href='') AYUDA
      nav
        a(href='') Hoteles
        a(href='') Vuelos
        a(href='') Vuelos + Hotel
        a(href='') Paquetes
        a(href='') Disney
        a(href='') Escapadas
        a(href='') Seguros
        a(href='') Autos
        a(href='') Cruceros
        a(href='') Ofertas
        a(href='') Trenes
        a(href='') Actividades
      nav
        a(href='') Home
        a(href='') Hoteles
        strong Santiago de Chile
      article.list-results
        section
          section#buscaHotel
            h4 Nombre de hotel
            label
              input(type='search', placeholder='Ingrese hotel')
            label
              input(type='submit', value='Aceptar')
          section#regimenes
            h4 Regimenes
            ul
              li
                label
                  input(type='checkbox', name='opciones')
                  | Todos los regimenes
              li
                label
                  input(type='checkbox', name='opciones')
                  | Cama y desayuno
              li
                label
                  input(type='checkbox', name='opciones')
                  | Solo la habitacion
              li
                label
                  input(type='checkbox', name='opciones')
                  | Desayuno
              li
                label
                  input(type='checkbox', name='opciones')
                  | Desayuno buffet
        section
          ul
            li
              section.detalles
                h2 Apartamentos VR Suite
                p ***
                p Solo habitacion
              section.precio
                p Precio por noche por habitacion
                p ARS 800
                p
                  | Precio sin promo ARS 1.142
                  br
                  | Impuestos y tasas no incluidos
                strong
                  a(href='') Ver Hotel
                br
                strong Paga en cuotas
            li
              section.detalles
                h2 Lastarria Suite
                p ***
                p Solo habitacion
              p Precio por noche por habitacion
              p ARS 846
              p
                | Precio sin promo ARS 1.142
                br
                | Impuestos y tasas no incluidos
              strong
                a(href='') Ver Hotel
              br
              strong Paga en cuotas
              section.precio
      footer
        | footer
